html,
body {
  font-family: "Helvetica Neue", sans-serif;
}
.container {
  margin: 94px -8px -8px -8px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: #f7f7ef;
}
a {
  text-decoration: none;
}
.button {
  margin: auto;
  padding: 7px;
}
.button:hover {
  background-color: #fdb51d;
}

.navbar__link {
  font-size: 1.5em;
  font-family: "HelveticaNeue";
  text-decoration: none;
  text-indent: 0.3em;
  color: #f7f7ef;
  height: 18px;
  padding: 5.5px 9px 7px 9px;
}

.sub-nav-button .navbar__link {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase !important;
  font-family: "HelveticaNeue";
  text-decoration: none;
  text-indent: 0.3em;
  color: #f7f7ef;
  height: 15px;
  padding: 5.5px 9px 11px 9px;
}
.sub-nav-button .navbar__link:hover {
  color: #fdb51d;
  background-color: #043185;
  padding: 6px 9px 10px 9px;
}

.navbar__link:hover {
  transform: translateY(-2px);
}

.navbar__link--active {
  border: 1px solid #fdb51d;
  width: 100%;
  color: #f7f7ef !important;
  transition: border-bottom 0.5s ease-in-out;
}
.sub-nav-button .navbar__link--active {
  border: 1px solid #043185;
  background-color: #043185;
  width: 100%;
  color: #f7f7ef !important;
  transition: border-bottom 0.5s ease-in-out;
  padding: 5px 9px 9px 9px;
}

.colorYellow {
  color: #fdb51d;
}

.colorYellow:hover {
  color: #1f3c92;
}

.care-an-support-desc {
  background: #043185 none repeat scroll 0 0;
  border-bottom: 2px solid #fdb51d;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  left: 25%;
  right: 25%;
  margin-left: 0;
  opacity: 0;
  padding-bottom: 10px;
  position: absolute;
  text-align: left;
  top: 130%;
  transform-origin: 0 0 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 50%;
  z-index: 10;
}
.sub-nav-button:hover + .care-an-support-desc {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.care-an-support-desc1 {
  background: #043185 none repeat scroll 0 0;
  border-bottom: 2px solid #fdb51d;
  box-shadow: 0 1px 2px rgba(86, 86, 90, 0.5);
  left: 25%;
  right: 25%;
  margin-left: 0;
  opacity: 0;
  padding-bottom: 10px;
  position: absolute;
  text-align: left;
  top: 130%;
  transform-origin: 0 0 0;
  transition: all 0.3s ease 0s;
  visibility: hidden;
  width: 50%;
  z-index: 10;
}

.sub-nav-button:hover + .care-an-support-desc1 {
  opacity: 1;
  top: 100%;
  visibility: visible;
}


.footer-nav {
  color: #AB0B22
}
.footer-nav:hover {
  color: #AB0B22;
}
.colorOrange:hover {
  color: #ffffff;
}

/* Small screen navbar */
@media only screen and (max-width: 1304px) {
  .navbar__link {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1175px) {
  .navbar__link {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1109px) {
  .navbar__link {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1044px) {
  .navbar__link {
    font-size: 15px;
  }
}
@media only screen and (max-width: 1012px) {
  .navbar__link {
    font-size: 13px;
    padding: "0px 9px 0px 9px";
  }
}
